@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --background-cream: #F1E9D9;
  --not-white: #F8F8F8;
  --not-black: #333333;
  --green: #00c700;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  background: var(--background-cream);
  width: 100lvw;
  height: 100lvh;
  color: var(--not-black);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
