@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --background-cream: #e8e1d2;
  --not-white: #F8F8F8;
  --not-black: #333333;
  --green: #00c700;
  --background-dark: #2c2b38;
}

@media (prefers-color-scheme: light) {
  :root {
    --text: #0a0b0f;
    --background: #f9f9fb;
    --primary: #2f3e9d;
    --secondary: #9ea6db;
    --accent: #707ed7;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: #f0f1f5;
    --background: #040406;
    --primary: #6271d0;
    --secondary: #242c61;
    --accent: #28368f;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  background: var(--background-dark);
  width: 100lvw;
  height: 100lvh;
  color: var(--not-black);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
